@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<OurServicesPage>
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Our Services</title>
	<link rel="stylesheet" href="/css/output.css">
	@* <link rel="stylesheet" href="https://use.typekit.net/whb0kxr.css"> *@
</head>

<body>
	<partial name="~/Views/Partials/Header.cshtml" />
	<div class="bg-[#29304A] flex flex-col items-center">
		<div class="border-b border-[#98A2B3] w-[93%] h-[1px mt-1 mb-10"></div>
		<div class="flex justify-between w-[90%] mb-10">
			<div class="">
				<h5 class="font-neue-grotesk text-md text-[#A39159]">OVERVIEW</h5>
				<h1 class="font-tiempos-head text-[48px] text-white">Our Services</h1>
			</div>
			<div class="font-tiempos-text text-lg text-white">
				@Model.OurServicesDescription
			</div>
		</div>
	</div>
	<div class="flex flex-col items-center w-full">
		<div class="w-[90%] ">
			<div class="flex justify-between items-start px-[32px] py-[72px]">
				<div>
					<h5>@Model.ContentFirstParagraph</h5>
				</div>
				<div>
					<h5>@Model.ContentSecondParagraph</h5>
				</div>
			</div>
			<div class="grid grid-cols-3 px-16">
				<div class="border border-[#8E8DBE80] flex flex-col max-w-[384px]">
					<div class="p-[24px] flex flex-col gap-14">
						<h1 class="font-tiempos-head text-2xl text-[#A39159]">Trust & Estate Planning</h1>
						<p class="font-tiempos-text text-md text-[#29304A]">Lorem ipsum dolor sit amet, consectetuer
							adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
							laoreet dolore magna aliquam erat volutpat.</p>
					</div>
					<a href="" class="bg-[#ECEBF3] flex justify-start px-[24px] py-[12px]">
						<h5 class="font-neue-grotesk text-md text-[#29304A]">LEARN MORE</h5>
					</a>
				</div>
				<div class="border border-[#8E8DBE80] flex flex-col max-w-[384px]">
					<div class="p-[24px] flex flex-col gap-14">
						<h1 class="font-tiempos-head text-2xl text-[#A39159]">Trust & Estate Planning</h1>
						<p class="font-tiempos-text text-md text-[#29304A]">Lorem ipsum dolor sit amet, consectetuer
							adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
							laoreet dolore magna aliquam erat volutpat.</p>
					</div>
					<a href="" class="bg-[#ECEBF3] flex justify-start px-[24px] py-[12px]">
						<h5 class="font-neue-grotesk text-md text-[#29304A]">LEARN MORE</h5>
					</a>
				</div>
				<div class="border border-[#8E8DBE80] flex flex-col max-w-[384px]">
					<div class="p-[24px] flex flex-col gap-14">
						<h1 class="font-tiempos-head text-2xl text-[#A39159]">Trust & Estate Planning</h1>
						<p class="font-tiempos-text text-md text-[#29304A]">Lorem ipsum dolor sit amet, consectetuer
							adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
							laoreet dolore magna aliquam erat volutpat.</p>
					</div>
					<a href="" class="bg-[#ECEBF3] flex justify-start px-[24px] py-[12px]">
						<h5 class="font-neue-grotesk text-md text-[#29304A]">LEARN MORE</h5>
					</a>
				</div>
			</div>
		</div>
	</div>

</body>

</html>